.pageWrapper {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  min-height: 100dvh;
}

.formCol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.formContent {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

.imageCol {
  display: none;
  background-size: cover;
  background-position: center;
}

.brand {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 1.7rem;
  text-decoration: none;
}
.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  background: transparent;
}
.brandText {
  font-weight: bold;
  color: var(--primary);
  font-size: 2.4rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .formCol {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    grid-template-columns: 480px 1fr;
  }
  .imageCol {
    display: block;
  }
}
