.pageWrapper {
  background-color: var(--background);
  min-height: 92vh;
  min-height: 92dvh;
  padding: 24px;
  padding-top: 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid transparent;
}

.saveBtn {
  background-color: var(--ring);
  color: var(--input);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.saveBtn:hover {
  background-color: #1d4ed8;
}