@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(26, 26, 26);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(26, 26, 26);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(23, 38, 54);
  --primary: rgb(26, 26, 26);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(245, 245, 245);
  --secondary-foreground: rgb(26, 26, 26);
  --muted: rgb(245, 245, 245);
  --muted-foreground: rgb(102, 102, 102);
  --accent: rgb(245, 245, 245);
  --accent-foreground: rgb(26, 26, 26);
  --destructive: rgb(239, 67, 67);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(235, 235, 235);
  --input: rgb(224, 230, 235);
  --ring: rgb(64, 127, 191);
  --shadow-realistic: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

html.dark-theme {
  --background: rgb(8, 8, 8);
  --foreground: rgb(242, 242, 242);
  --card: rgb(13, 13, 13);
  --card-foreground: rgb(242, 242, 242);
  --popover: rgb(23, 25, 28);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(242, 242, 242);
  --primary-foreground: rgb(8, 8, 8);
  --secondary: rgb(26, 26, 26);
  --secondary-foreground: rgb(242, 242, 242);
  --muted: rgb(26, 26, 26);
  --muted-foreground: rgb(166, 166, 166);
  --accent: rgb(26, 26, 26);
  --accent-foreground: rgb(242, 242, 242);
  --destructive: rgb(124, 29, 29);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(38, 38, 38);
  --input: rgb(51, 64, 76);
  --ring: rgb(102, 153, 204);
  --shadow-realistic: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-style: normal;
}

main {
  background-color: var(--background);
  min-height: 92vh;
  min-height: 92dvh;
  transition: background-color 0.3s;
}

html {
  scrollbar-color: var(--secondary) transparent;
  scrollbar-width: thin;
}

button {
  user-select: none;
}
