.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 768px) {
  .page {
    padding: 24px 16px;
  }
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 4fr 6fr;
    align-items: flex-start;
  }
}
